<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Software Freedom Day 2017 - Novo Hamburgo</title>
    <!-- css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!-- ****** favicons do faviconit.com ****** -->
    <link rel="shortcut icon" href="~/images/favicons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="~/images\favicons\favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="~/images/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="~/images/favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="~/images/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="~/images/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="~/images/favicons/favicon-144.png">
    <meta name="msapplication-config" content="~/images/favicons/browserconfig.xml">
    <!-- ****** favicons do faviconit.com ****** -->
</head>
<body data-spy="scroll" data-target="#site-nav">
    
    @RenderBody()

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="site-info">Organizado por <a href="http://softwarelivre-vs.org/">Software Livre VS</a></p>

                    <ul class="social-block">
                        <li><a href="https://twitter.com/gabriel_molter"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/SoftwareLivreVS/"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/groups/12053681"><i class="ion-social-linkedin-outline"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- script -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/smooth-scroll.js/dist/js/smooth-scroll.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>