
<nav class="navbar navbar-fixed-top navbar-custom navbar-solid">
    <div class="container">
        <div class="navbar-header">
            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="index.html">

                    <!-- logo image  -->
                    <img src="~/images/logo.jpg" alt="Logo">
                    Software Freedom Day - Novo Hamburgo 2017
                </a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div><!-- /.navbar-header -->
        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">
                <!-- navigation menu -->
                <li class="active"><a data-scroll href="/Home">Sobre</a></li>
                <li><a data-scroll href="/Home/Register">Registre-se</a></li>
                <li><a data-scroll href="/Home/Index#speakers">Palestrantes</a></li>
                <li><a data-scroll href="/Home/Index#schedule">Agenda</a></li>
                <li><a data-scroll href="/Home/Index#partner">Parceiros</a></li>
                <li><a data-scroll href="/Home/Index#faq">FAQ</a></li>
                <li><a data-scroll href="/Home/Index#photos">Fotos</a></li>

            </ul>
        </div>
    </div><!-- /.container -->
</nav>
<section id="registration" class="section registration">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Sucesso</h3>
            </div>
        </div>

        <p>
            Seu registro foi efetuado com sucesso, todos detalhes do evento estarão disponíveis na <a href="/Home/Index">página inicial</a>
        </p>
    </div>
</section>